#header {
	padding:100px 0px 0px 0px;
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
ul li {
	float:left;
}
ul li a {
	display: block;
}
#menulist {
    padding:10px 0px 0px 340px;
    position:fixed;
}
#aboutme {
	margin:200px 0px 0px 0px;
	padding:100px 0px 0px 0px;
}

#blog {
	margin:200px 0px 0px 0px;
	padding:100px 0px 0px 0px;
}

#resume {
	margin:200px 0px 0px 0px;
	padding:100px 0px 0px 0px;
}

#contact {
	margin:200px 0px 0px 0px;
	padding:100px 0px 0px 0px;
}